<%- include('partials/header'); %>
<%- include('partials/nav') %>
    <h1>Welcome to our TOkiDOki Page</h1>
    
<% if (!locals.user) { %>
 <a href="/login">Sign up</a>
 <% } else { %>
    <% if (user.role=="admin") { %>
      <h2>Hello Admin <%= user.username %> </h2>
     <button id="addproduct-btn"><a href="addproduct">Add Product</a></button>
    <% } %>
<% } %>

<%- include('partials/footer')%>
