<%- include('partials/header'); %>
<%- include('partials/nav') %>
    <h1>This is Home</h1>
    <h3>
        <%= welcomeString %>
    </h3>
    
<% if (!locals.user) { %>
 <a href="/login">Sign up</a>
 <% } else { %>
    <% if (user.role=="admin") { %>
     <button class="add-btn"><a href="addproduct">Add Product</a></button>
    <% } %>
  
<% } %>

<%- include('partials/footer')%>
