<%- include('partials/header') %>
<body id="login-body">
    <div class="container">
        
        <form action="/users" method="post" id="login_form">
            <h2>Login</h2>
            <div class="form">
                
                <input type="email" id="email" placeholder="Email">
            </div>
            <div class="form">
                
                <input type="password" id="password" placeholder="Password">
            </div>
            
            <div class="form">
               <button type="submit">LOGIN</button>
            </div>
        </form>

    </div>
    
</body>
    
    <script>
        const login_form = document.getElementById("login_form");
        const emailError = document.querySelector(".email.error");
        const passwordError = document.querySelector(".password.error");

        login_form.addEventListener("submit",async(e)=>{
            e.preventDefault();
            
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            try{
                let res = await fetch("/login",{
                    method:"POST",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({
                        email,password
                    })
                });
                if(res.status==200){
                    location.assign("/home");
                    
                }
                else{
                    let data = await res.json();
                    if(data.errors){
                        console.log(data.errors)
                        let errors = data.errors;
                        emailError.textContent = erros.email ? errors.email:""
                        passwordError.textContent = errors.password ? errors.password:""

                    }
                }
                
            }
            catch{
                console.log("we fucked up")
                console.log(err)
            }});
    </script>
